.frame-11 .going-into-fairy-tale {
  position: relative;
  margin-bottom: 130px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Jost';
  font-weight: 600;
  font-size: 60px;
  line-height: 1.4;
  text-transform: capitalize;
  color: #024059;
}
.frame-11 .rectangle-43 {
  border-radius: 15px;
  background: url('../assets/images/rectangle431.jpeg');
  width: 316.3px;
  height: 268px;
}
.frame-11 .group-16 {
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
  border-radius: 14px;
  background: #024059;
  position: relative;
  margin-left: 6.2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px 12.3px 0 12.3px;
  width: 341px;
  height: 411.8px;
  box-sizing: border-box;
}
.frame-11 .have-agood-time-with-fairy-tales {
  position: absolute;
  left: 692px;
  top: 235px;
  overflow-wrap: break-word;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 25px;
  color: #B0A47D;
}
.frame-11 {
  background: #FCFBED;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 138px 0 302.2px 0;
  /*width: 1920px;*/
  box-sizing: border-box;
}
